.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* auto-fit will fit each of the columns based on the width size */
  /* this single line of code makes the notes-list app 
    responsive based on the screen size. 1fr is the frame of the div */
}

.note {
  background-color: #ffff88;
  border-radius: 10px;
  padding: 1rem; /* so the notes are not to close of the edge */
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap; /* this keep the spacing of the text inputed */
}

.note.new {
  background-color: #d6c1f7;
}

textarea {
  border: none;
  resize: none;
  background-color: #d6c1f7;
}

textarea:focus {
  outline: none;
}

/* this is the button save */
.save {
  color: black;
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  width: 50px;
  text-align: center;
}

.save:hover {
  background-color: #ffff88;
  cursor: pointer;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  display: inline-block;
  cursor: pointer;
}

.delete-icon:hover {
  font-size: 36px;
  animation: shake 0.7s ease-in-out infinite; /* Shaking animation */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

.search {
  display: flex;
  align-items: center;
  background-color: rgba(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  background-color: rgba(233, 233, 233);
  border: none;
}

/* when the user clicks on it, or is mouse is focus on it */
.search input:focus {
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  color: black;
}

.toggle {
  color: black;
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  width: 6rem;
  text-align: center;
}

.light-mode {
  background-color: white;
}

.light-mode h1 {
  color: black;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}
