.pomodoro {
  background-color: rgba(2, 0, 36, 0.5);
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(128, 0, 0, 1) 50%,
    #000000 100%
  );
  /* background: linear-gradient(
    45deg,
    rgba(255, 165, 0, 1) 0%,   
    rgba(255, 140, 0, 1) 50%,   
    rgba(0, 0, 0, 1) 100% 
 */
  color: white;
}

main {
  padding-top: 100px;
  max-width: 340px;
  margin: 0 auto 20px auto;
  text-align: center;
  height: 100vh;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
}

/* the 1st container with both button */
.play-pause {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.play-button,
.pause-button {
  width: 25%;
}

/* the second container with the button */
.settings {
  margin-top: 20px;
  display: inline-block;
  justify-content: center;
}

.settings-button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  justify-content: center;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 100px;
}

.settings-button:hover {
  background-color: black;
}

.settings-button svg {
  width: 34px; 
  height: 34px;
  padding-right: 8px;
}

.settings-button span {
  font-size: 1.4rem;
  line-height: 36px;
}


/* Settings Page */
.settings-page {
  text-align: left;
}

.settings-page label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}

.slider.red{
  height: 40px;
  border: 2px solid #f54e4e;
  border-radius: 20px;
}

.slider.red .thumb {
  background-color: #f54e4e;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.slider.green {
  height: 40px;
  border: 2px solid #4aec8c;
  border-radius: 20px;
}

.slider.green .thumb {
  background-color: #4aec8c;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.back-button {
  width: auto;
  background-color:rgba(255,255,255,0.3);
  border-radius:10px;
  padding: 10px 10px;
  margin-top: 30px;
  font-size: 1.4rem;
  line-height: 36px;
}

.back-button:hover {
  background-color: black;
}

.back-button svg {
  width: 34px; 
  height: 34px;
  padding-right: 8px;
}