.pomodoro {
  background-color: rgba(2, 0, 36, 0.5);
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(128, 0, 0, 1) 50%,
    #000000 100%
  );
  color: white;
  height: 100vh;
}

main {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
  height: 100vh;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
}

/* the 1st container with both button */
.play-pause {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.play-button,
.pause-button {
  width: 25%;
  visibility: visible;
}

/* the second container with the button */
.settings-button {
  width: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 36px;
  justify-self: center;
}

.settings-button svg {
  width: 50px;
  height: 50px;
  padding-right: 8px;
}

/* Settings Page */
.settings-page {
  text-align: left;
}

.settings-page label {
  display: block;
  margin-bottom: 10px;
  margin-top: 50px;
  font-size: 20px;
}

.slider.red {
  height: 40px;
  border: 2px solid #f54e4e;
  border-radius: 20px;
}

.slider.red .thumb {
  background-color: #f54e4e;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.slider.green {
  height: 40px;
  border: 2px solid #4aec8c;
  border-radius: 20px;
}

.slider.green .thumb {
  background-color: #4aec8c;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.back-button {
  width: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 50px;
  font-size: 1.4rem;
  line-height: 36px;
  justify-self: center;
}

.back-button svg {
  width: 34px;
  height: 34px;
  padding-right: 8px;
}

/* Media Queries for Mobile devices */
@media (max-width: 768px) {
  .pomodoro {
    background-color: rgba(2, 0, 36, 0.5);
    background: linear-gradient(
      45deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(128, 0, 0, 1) 50%,
      #000000 100%
    );
    color: white;
    height: 100vh;
  }

  main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    justify-content: center;
  }

  .progressbar {
    width: 85%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .play-pause {
    justify-content: center;
  }

  .play-pause svg {
    width: 70px;
    height: 70px;
    color: rgba(255, 255, 255, 0.8);
  }

  .settings-button svg {
    width: 34px;
    height: 34px;
    color: rgba(255, 255, 255, 0.8);
  }

  /* Settings Page */
  .settings-page {
    text-align: left;
    justify-self: center;
    width: 80%;
  }

  .back-button {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 50px;
    font-size: 1.4rem;
    line-height: 36px;
    justify-self: center;
  }

  .back-button svg {
    width: 34px;
    height: 34px;
    padding-right: 8px;
  }
}
