.pomodoro {
  background-color: rgba(2, 0, 36, 0.5);
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(128, 0, 0, 1) 50%,
    #000000 100%
  );
  /* background: linear-gradient(
    45deg,
    rgba(255, 165, 0, 1) 0%,   
    rgba(255, 140, 0, 1) 50%,   
    rgba(0, 0, 0, 1) 100% 
 */
  color: white;
}

main {
  padding-top: 58px;
  max-width: 340px;
  margin: 0 auto 20px auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100%;
}

/* .buttons {
  display: inline-block;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  cursor: pointer;
} */

.play-button {
  width: 100%;
  background-color: gray;
}

.pause-button {
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: gray;
}

.settings-button {
  width: auto;
  background-color: gray;
  margin-top: 20px;
  cursor: pointer;
}
